<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidLearning"
        tools:targetApi="31">
        <activity
            android:name=".interface_and_navigation.InterfaceAndNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.broadcast_receiver.custom_broadcast.ui.view.activity.CustomBroadcastReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.broadcast_receiver.dynamic_broadcast.ui.view.activity.DynamicBroadcastReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.broadcast_receiver.BroadcastReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.intent.implicit.ui.view.activity.ImplicitSecondActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.intent.implicit.ui.view.activity.ImplicitFirstActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.intent.explicit.ui.view.activity.SecondExplicitWithDataActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.intent.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.intent.explicit.ui.view.activity.FirstExplicitWithDataActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.AppComponentActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.activity_lifecycle.ui.view.activity.SecondLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".app_component.activity_lifecycle.ui.view.activity.FirstLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".MyAndroidLearningActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>